@import './baseVariables';

.filter-white{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.rightSideFirstLayerHeight{
    height: 200px;
}

.green-menu{
    background-color: #079b43;
}

.green-bar{
    background-color: #3cb34b;
}

$blue-color: #1b82ec;
$blue-colorRGB: rgba(27,130,236 , 0.1);
$headingTextColor: #7e47a7;
$headingColorBG: #bbaadb;

%boxDesign{
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 200px;
    height: 80px;
}

.blueBox{
    @extend %boxDesign;
    border-left: 4px solid $blue-color;
}

.blueText{
    color: $blue-color;
}

.blueBg{
    background-color: $blue-colorRGB;
}

.headingTextColor{
    color: $headingTextColor;
}

.headingColorBG {
    background-color: $headingColorBG;
}